@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 90%;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.logo h1 {
  margin-left: 10px;
  font-size: 1.4rem;
  font-weight: 600;
}

nav {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  padding: 4px 5px;
  border-radius: 50px;
}

nav a {
  font-size: 1rem;
  text-decoration: none;
  color: #474747;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 0 2px;
  transition: background-color, box-shadow 0.2s ease-in-out;
}

nav a:focus {
  background-color: #ffffff;
  box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.1);
  border: none;
  outline: none;
}

.header-btn {
  background-color: #000000;
  border: 2px solid #c9c9c9;
  box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.1);
  color: #f1f1f1;
  border: none;
  padding: 13px 35px;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 480px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cmask id=%22b%22 x=%220%22 y=%220%22 width=%222000%22 height=%221400%22%3E%3Cpath fill=%22url(%23a)%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3C%2Fmask%3E%3Cpath fill=%22%23fff%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cg style=%22transform-origin:center center%22 stroke=%22%23e8e8e8%22 stroke-width=%22.4%22 fill=%22none%22 mask=%22url(%23b)%22%3E%3Cpath d=%22M0 0h56v56H0zM56 0h56v56H56zM112 0h56v56h-56zM168 0h56v56h-56zM224 0h56v56h-56zM280 0h56v56h-56zM336 0h56v56h-56zM392 0h56v56h-56zM448 0h56v56h-56zM504 0h56v56h-56zM560 0h56v56h-56zM616 0h56v56h-56zM672 0h56v56h-56zM728 0h56v56h-56zM784 0h56v56h-56zM840 0h56v56h-56zM896 0h56v56h-56zM952 0h56v56h-56zM1008 0h56v56h-56zM1064 0h56v56h-56zM1120 0h56v56h-56zM1176 0h56v56h-56zM1232 0h56v56h-56zM1288 0h56v56h-56zM1344 0h56v56h-56zM1400 0h56v56h-56zM1456 0h56v56h-56zM1512 0h56v56h-56zM1568 0h56v56h-56zM1624 0h56v56h-56zM1680 0h56v56h-56zM1736 0h56v56h-56zM1792 0h56v56h-56zM1848 0h56v56h-56zM1904 0h56v56h-56zM1960 0h56v56h-56zM0 56h56v56H0zM56 56h56v56H56zM112 56h56v56h-56zM168 56h56v56h-56zM224 56h56v56h-56zM280 56h56v56h-56zM336 56h56v56h-56zM392 56h56v56h-56zM448 56h56v56h-56zM504 56h56v56h-56zM560 56h56v56h-56zM616 56h56v56h-56zM672 56h56v56h-56zM728 56h56v56h-56zM784 56h56v56h-56zM840 56h56v56h-56zM896 56h56v56h-56zM952 56h56v56h-56zM1008 56h56v56h-56zM1064 56h56v56h-56zM1120 56h56v56h-56zM1176 56h56v56h-56zM1232 56h56v56h-56zM1288 56h56v56h-56zM1344 56h56v56h-56zM1400 56h56v56h-56zM1456 56h56v56h-56zM1512 56h56v56h-56zM1568 56h56v56h-56zM1624 56h56v56h-56zM1680 56h56v56h-56zM1736 56h56v56h-56zM1792 56h56v56h-56zM1848 56h56v56h-56zM1904 56h56v56h-56zM1960 56h56v56h-56zM0 112h56v56H0zM56 112h56v56H56zM112 112h56v56h-56zM168 112h56v56h-56zM224 112h56v56h-56zM280 112h56v56h-56zM336 112h56v56h-56zM392 112h56v56h-56zM448 112h56v56h-56zM504 112h56v56h-56zM560 112h56v56h-56zM616 112h56v56h-56zM672 112h56v56h-56zM728 112h56v56h-56zM784 112h56v56h-56zM840 112h56v56h-56zM896 112h56v56h-56zM952 112h56v56h-56zM1008 112h56v56h-56zM1064 112h56v56h-56zM1120 112h56v56h-56zM1176 112h56v56h-56zM1232 112h56v56h-56zM1288 112h56v56h-56zM1344 112h56v56h-56zM1400 112h56v56h-56zM1456 112h56v56h-56zM1512 112h56v56h-56zM1568 112h56v56h-56zM1624 112h56v56h-56zM1680 112h56v56h-56zM1736 112h56v56h-56zM1792 112h56v56h-56zM1848 112h56v56h-56zM1904 112h56v56h-56zM1960 112h56v56h-56zM0 168h56v56H0zM56 168h56v56H56zM112 168h56v56h-56zM168 168h56v56h-56zM224 168h56v56h-56zM280 168h56v56h-56zM336 168h56v56h-56zM392 168h56v56h-56zM448 168h56v56h-56zM504 168h56v56h-56zM560 168h56v56h-56zM616 168h56v56h-56zM672 168h56v56h-56zM728 168h56v56h-56zM784 168h56v56h-56zM840 168h56v56h-56zM896 168h56v56h-56zM952 168h56v56h-56zM1008 168h56v56h-56zM1064 168h56v56h-56zM1120 168h56v56h-56zM1176 168h56v56h-56zM1232 168h56v56h-56zM1288 168h56v56h-56zM1344 168h56v56h-56zM1400 168h56v56h-56zM1456 168h56v56h-56zM1512 168h56v56h-56zM1568 168h56v56h-56zM1624 168h56v56h-56zM1680 168h56v56h-56zM1736 168h56v56h-56zM1792 168h56v56h-56zM1848 168h56v56h-56zM1904 168h56v56h-56zM1960 168h56v56h-56zM0 224h56v56H0zM56 224h56v56H56zM112 224h56v56h-56zM168 224h56v56h-56zM224 224h56v56h-56zM280 224h56v56h-56zM336 224h56v56h-56zM392 224h56v56h-56zM448 224h56v56h-56zM504 224h56v56h-56zM560 224h56v56h-56zM616 224h56v56h-56zM672 224h56v56h-56zM728 224h56v56h-56zM784 224h56v56h-56zM840 224h56v56h-56zM896 224h56v56h-56zM952 224h56v56h-56zM1008 224h56v56h-56zM1064 224h56v56h-56zM1120 224h56v56h-56zM1176 224h56v56h-56zM1232 224h56v56h-56zM1288 224h56v56h-56zM1344 224h56v56h-56zM1400 224h56v56h-56zM1456 224h56v56h-56zM1512 224h56v56h-56zM1568 224h56v56h-56zM1624 224h56v56h-56zM1680 224h56v56h-56zM1736 224h56v56h-56zM1792 224h56v56h-56zM1848 224h56v56h-56zM1904 224h56v56h-56zM1960 224h56v56h-56zM0 280h56v56H0zM56 280h56v56H56zM112 280h56v56h-56zM168 280h56v56h-56zM224 280h56v56h-56zM280 280h56v56h-56zM336 280h56v56h-56zM392 280h56v56h-56zM448 280h56v56h-56zM504 280h56v56h-56zM560 280h56v56h-56zM616 280h56v56h-56zM672 280h56v56h-56zM728 280h56v56h-56zM784 280h56v56h-56zM840 280h56v56h-56zM896 280h56v56h-56zM952 280h56v56h-56zM1008 280h56v56h-56zM1064 280h56v56h-56zM1120 280h56v56h-56zM1176 280h56v56h-56zM1232 280h56v56h-56zM1288 280h56v56h-56zM1344 280h56v56h-56zM1400 280h56v56h-56zM1456 280h56v56h-56zM1512 280h56v56h-56zM1568 280h56v56h-56zM1624 280h56v56h-56zM1680 280h56v56h-56zM1736 280h56v56h-56zM1792 280h56v56h-56zM1848 280h56v56h-56zM1904 280h56v56h-56zM1960 280h56v56h-56zM0 336h56v56H0zM56 336h56v56H56zM112 336h56v56h-56zM168 336h56v56h-56zM224 336h56v56h-56zM280 336h56v56h-56zM336 336h56v56h-56zM392 336h56v56h-56zM448 336h56v56h-56zM504 336h56v56h-56zM560 336h56v56h-56zM616 336h56v56h-56zM672 336h56v56h-56zM728 336h56v56h-56zM784 336h56v56h-56zM840 336h56v56h-56zM896 336h56v56h-56zM952 336h56v56h-56zM1008 336h56v56h-56zM1064 336h56v56h-56zM1120 336h56v56h-56zM1176 336h56v56h-56zM1232 336h56v56h-56zM1288 336h56v56h-56zM1344 336h56v56h-56zM1400 336h56v56h-56zM1456 336h56v56h-56zM1512 336h56v56h-56zM1568 336h56v56h-56zM1624 336h56v56h-56zM1680 336h56v56h-56zM1736 336h56v56h-56zM1792 336h56v56h-56zM1848 336h56v56h-56zM1904 336h56v56h-56zM1960 336h56v56h-56zM0 392h56v56H0zM56 392h56v56H56zM112 392h56v56h-56zM168 392h56v56h-56zM224 392h56v56h-56zM280 392h56v56h-56zM336 392h56v56h-56zM392 392h56v56h-56zM448 392h56v56h-56zM504 392h56v56h-56zM560 392h56v56h-56zM616 392h56v56h-56zM672 392h56v56h-56zM728 392h56v56h-56zM784 392h56v56h-56zM840 392h56v56h-56zM896 392h56v56h-56zM952 392h56v56h-56zM1008 392h56v56h-56zM1064 392h56v56h-56zM1120 392h56v56h-56zM1176 392h56v56h-56zM1232 392h56v56h-56zM1288 392h56v56h-56zM1344 392h56v56h-56zM1400 392h56v56h-56zM1456 392h56v56h-56zM1512 392h56v56h-56zM1568 392h56v56h-56zM1624 392h56v56h-56zM1680 392h56v56h-56zM1736 392h56v56h-56zM1792 392h56v56h-56zM1848 392h56v56h-56zM1904 392h56v56h-56zM1960 392h56v56h-56zM0 448h56v56H0zM56 448h56v56H56zM112 448h56v56h-56zM168 448h56v56h-56zM224 448h56v56h-56zM280 448h56v56h-56zM336 448h56v56h-56zM392 448h56v56h-56zM448 448h56v56h-56zM504 448h56v56h-56zM560 448h56v56h-56zM616 448h56v56h-56zM672 448h56v56h-56zM728 448h56v56h-56zM784 448h56v56h-56zM840 448h56v56h-56zM896 448h56v56h-56zM952 448h56v56h-56zM1008 448h56v56h-56zM1064 448h56v56h-56zM1120 448h56v56h-56zM1176 448h56v56h-56zM1232 448h56v56h-56zM1288 448h56v56h-56zM1344 448h56v56h-56zM1400 448h56v56h-56zM1456 448h56v56h-56zM1512 448h56v56h-56zM1568 448h56v56h-56zM1624 448h56v56h-56zM1680 448h56v56h-56zM1736 448h56v56h-56zM1792 448h56v56h-56zM1848 448h56v56h-56zM1904 448h56v56h-56zM1960 448h56v56h-56zM0 504h56v56H0zM56 504h56v56H56zM112 504h56v56h-56zM168 504h56v56h-56zM224 504h56v56h-56zM280 504h56v56h-56zM336 504h56v56h-56zM392 504h56v56h-56zM448 504h56v56h-56zM504 504h56v56h-56zM560 504h56v56h-56zM616 504h56v56h-56zM672 504h56v56h-56zM728 504h56v56h-56zM784 504h56v56h-56zM840 504h56v56h-56zM896 504h56v56h-56zM952 504h56v56h-56zM1008 504h56v56h-56zM1064 504h56v56h-56zM1120 504h56v56h-56zM1176 504h56v56h-56zM1232 504h56v56h-56zM1288 504h56v56h-56zM1344 504h56v56h-56zM1400 504h56v56h-56zM1456 504h56v56h-56zM1512 504h56v56h-56zM1568 504h56v56h-56zM1624 504h56v56h-56zM1680 504h56v56h-56zM1736 504h56v56h-56zM1792 504h56v56h-56zM1848 504h56v56h-56zM1904 504h56v56h-56zM1960 504h56v56h-56zM0 560h56v56H0zM56 560h56v56H56zM112 560h56v56h-56zM168 560h56v56h-56zM224 560h56v56h-56zM280 560h56v56h-56zM336 560h56v56h-56zM392 560h56v56h-56zM448 560h56v56h-56zM504 560h56v56h-56zM560 560h56v56h-56zM616 560h56v56h-56zM672 560h56v56h-56zM728 560h56v56h-56zM784 560h56v56h-56zM840 560h56v56h-56zM896 560h56v56h-56zM952 560h56v56h-56zM1008 560h56v56h-56zM1064 560h56v56h-56zM1120 560h56v56h-56zM1176 560h56v56h-56zM1232 560h56v56h-56zM1288 560h56v56h-56zM1344 560h56v56h-56zM1400 560h56v56h-56zM1456 560h56v56h-56zM1512 560h56v56h-56zM1568 560h56v56h-56zM1624 560h56v56h-56zM1680 560h56v56h-56zM1736 560h56v56h-56zM1792 560h56v56h-56zM1848 560h56v56h-56zM1904 560h56v56h-56zM1960 560h56v56h-56zM0 616h56v56H0zM56 616h56v56H56zM112 616h56v56h-56zM168 616h56v56h-56zM224 616h56v56h-56zM280 616h56v56h-56zM336 616h56v56h-56zM392 616h56v56h-56zM448 616h56v56h-56zM504 616h56v56h-56zM560 616h56v56h-56zM616 616h56v56h-56zM672 616h56v56h-56zM728 616h56v56h-56zM784 616h56v56h-56zM840 616h56v56h-56zM896 616h56v56h-56zM952 616h56v56h-56zM1008 616h56v56h-56zM1064 616h56v56h-56zM1120 616h56v56h-56zM1176 616h56v56h-56zM1232 616h56v56h-56zM1288 616h56v56h-56zM1344 616h56v56h-56zM1400 616h56v56h-56zM1456 616h56v56h-56zM1512 616h56v56h-56zM1568 616h56v56h-56zM1624 616h56v56h-56zM1680 616h56v56h-56zM1736 616h56v56h-56zM1792 616h56v56h-56zM1848 616h56v56h-56zM1904 616h56v56h-56zM1960 616h56v56h-56zM0 672h56v56H0zM56 672h56v56H56zM112 672h56v56h-56zM168 672h56v56h-56zM224 672h56v56h-56zM280 672h56v56h-56zM336 672h56v56h-56zM392 672h56v56h-56zM448 672h56v56h-56zM504 672h56v56h-56zM560 672h56v56h-56zM616 672h56v56h-56zM672 672h56v56h-56zM728 672h56v56h-56zM784 672h56v56h-56zM840 672h56v56h-56zM896 672h56v56h-56zM952 672h56v56h-56zM1008 672h56v56h-56zM1064 672h56v56h-56zM1120 672h56v56h-56zM1176 672h56v56h-56zM1232 672h56v56h-56zM1288 672h56v56h-56zM1344 672h56v56h-56zM1400 672h56v56h-56zM1456 672h56v56h-56zM1512 672h56v56h-56zM1568 672h56v56h-56zM1624 672h56v56h-56zM1680 672h56v56h-56zM1736 672h56v56h-56zM1792 672h56v56h-56zM1848 672h56v56h-56zM1904 672h56v56h-56zM1960 672h56v56h-56zM0 728h56v56H0zM56 728h56v56H56zM112 728h56v56h-56zM168 728h56v56h-56zM224 728h56v56h-56zM280 728h56v56h-56zM336 728h56v56h-56zM392 728h56v56h-56zM448 728h56v56h-56zM504 728h56v56h-56zM560 728h56v56h-56zM616 728h56v56h-56zM672 728h56v56h-56zM728 728h56v56h-56zM784 728h56v56h-56zM840 728h56v56h-56zM896 728h56v56h-56zM952 728h56v56h-56zM1008 728h56v56h-56zM1064 728h56v56h-56zM1120 728h56v56h-56zM1176 728h56v56h-56zM1232 728h56v56h-56zM1288 728h56v56h-56zM1344 728h56v56h-56zM1400 728h56v56h-56zM1456 728h56v56h-56zM1512 728h56v56h-56zM1568 728h56v56h-56zM1624 728h56v56h-56zM1680 728h56v56h-56zM1736 728h56v56h-56zM1792 728h56v56h-56zM1848 728h56v56h-56zM1904 728h56v56h-56zM1960 728h56v56h-56zM0 784h56v56H0zM56 784h56v56H56zM112 784h56v56h-56zM168 784h56v56h-56zM224 784h56v56h-56zM280 784h56v56h-56zM336 784h56v56h-56zM392 784h56v56h-56zM448 784h56v56h-56zM504 784h56v56h-56zM560 784h56v56h-56zM616 784h56v56h-56zM672 784h56v56h-56zM728 784h56v56h-56zM784 784h56v56h-56zM840 784h56v56h-56zM896 784h56v56h-56zM952 784h56v56h-56zM1008 784h56v56h-56zM1064 784h56v56h-56zM1120 784h56v56h-56zM1176 784h56v56h-56zM1232 784h56v56h-56zM1288 784h56v56h-56zM1344 784h56v56h-56zM1400 784h56v56h-56zM1456 784h56v56h-56zM1512 784h56v56h-56zM1568 784h56v56h-56zM1624 784h56v56h-56zM1680 784h56v56h-56zM1736 784h56v56h-56zM1792 784h56v56h-56zM1848 784h56v56h-56zM1904 784h56v56h-56zM1960 784h56v56h-56zM0 840h56v56H0zM56 840h56v56H56zM112 840h56v56h-56zM168 840h56v56h-56zM224 840h56v56h-56zM280 840h56v56h-56zM336 840h56v56h-56zM392 840h56v56h-56zM448 840h56v56h-56zM504 840h56v56h-56zM560 840h56v56h-56zM616 840h56v56h-56zM672 840h56v56h-56zM728 840h56v56h-56zM784 840h56v56h-56zM840 840h56v56h-56zM896 840h56v56h-56zM952 840h56v56h-56zM1008 840h56v56h-56zM1064 840h56v56h-56zM1120 840h56v56h-56zM1176 840h56v56h-56zM1232 840h56v56h-56zM1288 840h56v56h-56zM1344 840h56v56h-56zM1400 840h56v56h-56zM1456 840h56v56h-56zM1512 840h56v56h-56zM1568 840h56v56h-56zM1624 840h56v56h-56zM1680 840h56v56h-56zM1736 840h56v56h-56zM1792 840h56v56h-56zM1848 840h56v56h-56zM1904 840h56v56h-56zM1960 840h56v56h-56zM0 896h56v56H0zM56 896h56v56H56zM112 896h56v56h-56zM168 896h56v56h-56zM224 896h56v56h-56zM280 896h56v56h-56zM336 896h56v56h-56zM392 896h56v56h-56zM448 896h56v56h-56zM504 896h56v56h-56zM560 896h56v56h-56zM616 896h56v56h-56zM672 896h56v56h-56zM728 896h56v56h-56zM784 896h56v56h-56zM840 896h56v56h-56zM896 896h56v56h-56zM952 896h56v56h-56zM1008 896h56v56h-56zM1064 896h56v56h-56zM1120 896h56v56h-56zM1176 896h56v56h-56zM1232 896h56v56h-56zM1288 896h56v56h-56zM1344 896h56v56h-56zM1400 896h56v56h-56zM1456 896h56v56h-56zM1512 896h56v56h-56zM1568 896h56v56h-56zM1624 896h56v56h-56zM1680 896h56v56h-56zM1736 896h56v56h-56zM1792 896h56v56h-56zM1848 896h56v56h-56zM1904 896h56v56h-56zM1960 896h56v56h-56zM0 952h56v56H0zM56 952h56v56H56zM112 952h56v56h-56zM168 952h56v56h-56zM224 952h56v56h-56zM280 952h56v56h-56zM336 952h56v56h-56zM392 952h56v56h-56zM448 952h56v56h-56zM504 952h56v56h-56zM560 952h56v56h-56zM616 952h56v56h-56zM672 952h56v56h-56zM728 952h56v56h-56zM784 952h56v56h-56zM840 952h56v56h-56zM896 952h56v56h-56zM952 952h56v56h-56zM1008 952h56v56h-56zM1064 952h56v56h-56zM1120 952h56v56h-56zM1176 952h56v56h-56zM1232 952h56v56h-56zM1288 952h56v56h-56zM1344 952h56v56h-56zM1400 952h56v56h-56zM1456 952h56v56h-56zM1512 952h56v56h-56zM1568 952h56v56h-56zM1624 952h56v56h-56zM1680 952h56v56h-56zM1736 952h56v56h-56zM1792 952h56v56h-56zM1848 952h56v56h-56zM1904 952h56v56h-56zM1960 952h56v56h-56zM0 1008h56v56H0zM56 1008h56v56H56zM112 1008h56v56h-56zM168 1008h56v56h-56zM224 1008h56v56h-56zM280 1008h56v56h-56zM336 1008h56v56h-56zM392 1008h56v56h-56zM448 1008h56v56h-56zM504 1008h56v56h-56zM560 1008h56v56h-56zM616 1008h56v56h-56zM672 1008h56v56h-56zM728 1008h56v56h-56zM784 1008h56v56h-56zM840 1008h56v56h-56zM896 1008h56v56h-56zM952 1008h56v56h-56zM1008 1008h56v56h-56zM1064 1008h56v56h-56zM1120 1008h56v56h-56zM1176 1008h56v56h-56zM1232 1008h56v56h-56zM1288 1008h56v56h-56zM1344 1008h56v56h-56zM1400 1008h56v56h-56zM1456 1008h56v56h-56zM1512 1008h56v56h-56zM1568 1008h56v56h-56zM1624 1008h56v56h-56zM1680 1008h56v56h-56zM1736 1008h56v56h-56zM1792 1008h56v56h-56zM1848 1008h56v56h-56zM1904 1008h56v56h-56zM1960 1008h56v56h-56zM0 1064h56v56H0zM56 1064h56v56H56zM112 1064h56v56h-56zM168 1064h56v56h-56zM224 1064h56v56h-56zM280 1064h56v56h-56zM336 1064h56v56h-56zM392 1064h56v56h-56zM448 1064h56v56h-56zM504 1064h56v56h-56zM560 1064h56v56h-56zM616 1064h56v56h-56zM672 1064h56v56h-56zM728 1064h56v56h-56zM784 1064h56v56h-56zM840 1064h56v56h-56zM896 1064h56v56h-56zM952 1064h56v56h-56zM1008 1064h56v56h-56zM1064 1064h56v56h-56zM1120 1064h56v56h-56zM1176 1064h56v56h-56zM1232 1064h56v56h-56zM1288 1064h56v56h-56zM1344 1064h56v56h-56zM1400 1064h56v56h-56zM1456 1064h56v56h-56zM1512 1064h56v56h-56zM1568 1064h56v56h-56zM1624 1064h56v56h-56zM1680 1064h56v56h-56zM1736 1064h56v56h-56zM1792 1064h56v56h-56zM1848 1064h56v56h-56zM1904 1064h56v56h-56zM1960 1064h56v56h-56zM0 1120h56v56H0zM56 1120h56v56H56zM112 1120h56v56h-56zM168 1120h56v56h-56zM224 1120h56v56h-56zM280 1120h56v56h-56zM336 1120h56v56h-56zM392 1120h56v56h-56zM448 1120h56v56h-56zM504 1120h56v56h-56zM560 1120h56v56h-56zM616 1120h56v56h-56zM672 1120h56v56h-56zM728 1120h56v56h-56zM784 1120h56v56h-56zM840 1120h56v56h-56zM896 1120h56v56h-56zM952 1120h56v56h-56zM1008 1120h56v56h-56zM1064 1120h56v56h-56zM1120 1120h56v56h-56zM1176 1120h56v56h-56zM1232 1120h56v56h-56zM1288 1120h56v56h-56zM1344 1120h56v56h-56zM1400 1120h56v56h-56zM1456 1120h56v56h-56zM1512 1120h56v56h-56zM1568 1120h56v56h-56zM1624 1120h56v56h-56zM1680 1120h56v56h-56zM1736 1120h56v56h-56zM1792 1120h56v56h-56zM1848 1120h56v56h-56zM1904 1120h56v56h-56zM1960 1120h56v56h-56zM0 1176h56v56H0zM56 1176h56v56H56zM112 1176h56v56h-56zM168 1176h56v56h-56zM224 1176h56v56h-56zM280 1176h56v56h-56zM336 1176h56v56h-56zM392 1176h56v56h-56zM448 1176h56v56h-56zM504 1176h56v56h-56zM560 1176h56v56h-56zM616 1176h56v56h-56zM672 1176h56v56h-56zM728 1176h56v56h-56zM784 1176h56v56h-56zM840 1176h56v56h-56zM896 1176h56v56h-56zM952 1176h56v56h-56zM1008 1176h56v56h-56zM1064 1176h56v56h-56zM1120 1176h56v56h-56zM1176 1176h56v56h-56zM1232 1176h56v56h-56zM1288 1176h56v56h-56zM1344 1176h56v56h-56zM1400 1176h56v56h-56zM1456 1176h56v56h-56zM1512 1176h56v56h-56zM1568 1176h56v56h-56zM1624 1176h56v56h-56zM1680 1176h56v56h-56zM1736 1176h56v56h-56zM1792 1176h56v56h-56zM1848 1176h56v56h-56zM1904 1176h56v56h-56zM1960 1176h56v56h-56zM0 1232h56v56H0zM56 1232h56v56H56zM112 1232h56v56h-56zM168 1232h56v56h-56zM224 1232h56v56h-56zM280 1232h56v56h-56zM336 1232h56v56h-56zM392 1232h56v56h-56zM448 1232h56v56h-56zM504 1232h56v56h-56zM560 1232h56v56h-56zM616 1232h56v56h-56zM672 1232h56v56h-56zM728 1232h56v56h-56zM784 1232h56v56h-56zM840 1232h56v56h-56zM896 1232h56v56h-56zM952 1232h56v56h-56zM1008 1232h56v56h-56zM1064 1232h56v56h-56zM1120 1232h56v56h-56zM1176 1232h56v56h-56zM1232 1232h56v56h-56zM1288 1232h56v56h-56zM1344 1232h56v56h-56zM1400 1232h56v56h-56zM1456 1232h56v56h-56zM1512 1232h56v56h-56zM1568 1232h56v56h-56zM1624 1232h56v56h-56zM1680 1232h56v56h-56zM1736 1232h56v56h-56zM1792 1232h56v56h-56zM1848 1232h56v56h-56zM1904 1232h56v56h-56zM1960 1232h56v56h-56zM0 1288h56v56H0zM56 1288h56v56H56zM112 1288h56v56h-56zM168 1288h56v56h-56zM224 1288h56v56h-56zM280 1288h56v56h-56zM336 1288h56v56h-56zM392 1288h56v56h-56zM448 1288h56v56h-56zM504 1288h56v56h-56zM560 1288h56v56h-56zM616 1288h56v56h-56zM672 1288h56v56h-56zM728 1288h56v56h-56zM784 1288h56v56h-56zM840 1288h56v56h-56zM896 1288h56v56h-56zM952 1288h56v56h-56zM1008 1288h56v56h-56zM1064 1288h56v56h-56zM1120 1288h56v56h-56zM1176 1288h56v56h-56zM1232 1288h56v56h-56zM1288 1288h56v56h-56zM1344 1288h56v56h-56zM1400 1288h56v56h-56zM1456 1288h56v56h-56zM1512 1288h56v56h-56zM1568 1288h56v56h-56zM1624 1288h56v56h-56zM1680 1288h56v56h-56zM1736 1288h56v56h-56zM1792 1288h56v56h-56zM1848 1288h56v56h-56zM1904 1288h56v56h-56zM1960 1288h56v56h-56zM0 1344h56v56H0zM56 1344h56v56H56zM112 1344h56v56h-56zM168 1344h56v56h-56zM224 1344h56v56h-56zM280 1344h56v56h-56zM336 1344h56v56h-56zM392 1344h56v56h-56zM448 1344h56v56h-56zM504 1344h56v56h-56zM560 1344h56v56h-56zM616 1344h56v56h-56zM672 1344h56v56h-56zM728 1344h56v56h-56zM784 1344h56v56h-56zM840 1344h56v56h-56zM896 1344h56v56h-56zM952 1344h56v56h-56zM1008 1344h56v56h-56zM1064 1344h56v56h-56zM1120 1344h56v56h-56zM1176 1344h56v56h-56zM1232 1344h56v56h-56zM1288 1344h56v56h-56zM1344 1344h56v56h-56zM1400 1344h56v56h-56zM1456 1344h56v56h-56zM1512 1344h56v56h-56zM1568 1344h56v56h-56zM1624 1344h56v56h-56zM1680 1344h56v56h-56zM1736 1344h56v56h-56zM1792 1344h56v56h-56zM1848 1344h56v56h-56zM1904 1344h56v56h-56zM1960 1344h56v56h-56z%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CradialGradient id=%22a%22%3E%3Cstop offset=%220%22 stop-color=%22%23fff%22%2F%3E%3Cstop offset=%221%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FradialGradient%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}

.hero .announcement {
  display: flex;
  border: 2px solid #f1f1f1;
  border-radius: 12px;
  padding: 3px;
}

.announcement .announcement-p1 {
  background-color: #fff2ee;
  border: 2px solid #ffe1dc;
  color: #ff632f;
  padding: 2px 8px;
  border-radius: 8px;
  margin: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.announcement .announcement-p2 {
  padding: 2px 8px;
  margin: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.announcement .announcement-p2 svg {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

.announcement .announcement-p1 svg {
  width: 20px;
  height: 20px;
}

.hero h1 {
  text-align: center;
  font-size: 3.5rem;
  margin: 0;
  padding: 40px 0 10px 0;
  font-weight: 600;
}

.hero p {
  text-align: center;
  color: #585858;
  padding-bottom: 40px;
  font-size: 18px;
}

.hero-btn-1 {
  background-color: #000000;
  color: #f1f1f1;
  border: 2px solid #c9c9c9;
  box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding: 13px 0;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  width: 200px;
  margin-right: 10px;
  font-weight: 500;
}

.hero-btn-2 {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #e4e4e4;
  padding: 13px 0;
  font-size: 1rem;
  box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.1);
  width: 200px;
  border-radius: 30px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: 500;
}

.demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 600px;
  width: 90%;
  border-radius: 20px;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-color: #ffd5c3;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #ffd5c3 10px
    ),
    repeating-linear-gradient(#ffc2a8b0, #ffa882);
}

.demo img {
  width: 50%;
  border-radius: 15px;
  box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}




#tpbr_box {
  position: relative;
  cursor:pointer;
  letter-spacing:1px;
  display:none;
}

#tpbr_topbar{
padding:5px 0 5px 0 !important;
}

.dropdown-content {
  background-color:#860A17;
  position: absolute;
  padding:0 50px 30px 50px;
  line-height:1.7;
letter-spacing:0.4px;
  left: 0; 
font-weight:normal !important;
  top: 100%; 
}

.fusion-secondary-main-menu {
width:100% !important;
}

#tpbr_box::after{
content: '\25BC ';
margin-left: 10px;
}

#tpbr_box{
   font-family:PT Sans !important;
font-weight:bold !important;
}

@media only screen and (max-width: 800px) {
.dropdown-content {
  font-size:14px;
  text-align:justify;
  padding:0 20px 20px 20px;
}

#tpbr_box{
   font-size:12px !important;
}

}

